body{
    background-color: #FFFFF0;
    color: #333;
}

#Title{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    color: #A9E655;
}

.calculator{ 
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-auto-rows: 50px;
    justify-content:center;
    margin: auto;
    width:50%;
    padding-top: 10px;
    padding-bottom: 20px;
    /* column-gap: 10px; */
    /* row-gap: 1em; */
    /* background-color: #E8E2D1; */
    /* border: 1px solid #333; */
    width: 460px;
}

#Screen{
    grid-column-start: 1;
    grid-column-end:  5;
    grid-row-start:  1;
    grid-row-end: 3;
    /* border: 1px solid gray; */
    line-height: 150px;
    text-align:right;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: white;
}


#Zero{
    grid-column-start: 1;
    grid-column-end: 3;
}


.button{
    text-align: center;
    vertical-align: center;
    line-height: 50px;
    /* justify-content: center; */
    column-gap: 10px;
    row-gap: 1em;
    background-color: #D1E8E0;
    border: 0px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.button:hover{
    background-color: rgba(209, 232, 224, .7);
}

#Equals{
    background-color: #FF7D40;
}
#Equals:hover{
    background-color: rgba(255, 125, 64, .7);
}


#Subtract{
    background-color: #4071FF;
}
#Subtract:hover{
    background-color: rgba(64, 113, 255, 0.7);
}


#Multiply{
    background-color: #4071FF;
}
#Multiply:hover{
    background-color: rgba(64, 113, 255, 0.7);
}


#Add{
    background-color: #4071FF;
}
#Add:hover{
    background-color: rgba(64, 113, 255, 0.7);
}


#Divide{
    background-color: #4071FF;
}
#Divide:hover{
    background-color: rgba(64, 113, 255, 0.7);
}
